@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@config "../../tailwind.config.ts";

@layer base {
  :root {
    --color-theme-light-main: #409eff; /* Value from tailwind.config.ts */
    --color-theme-dark-main: #8ac6ff; /* Value from tailwind.config.ts */
    --color-theme-light-bg: #f4f7fa; /* Value from tailwind.config.ts */
    --color-theme-dark-bg: #3f3f46; /* Value from tailwind.config.ts */
    --color-theme-light-card-bg: #f4f7fa; /* Value from tailwind.config.ts */
    --color-theme-dark-card-bg: #3f3f46; /* Value from tailwind.config.ts */
    --color-theme-light-text: #1f2d3d; /* Value from tailwind.config.ts */
    --color-theme-dark-text: #ededed; /* Value from tailwind.config.ts */
  }
}

@keyframes pageFadeInAnimation {
  from {
    opacity: 0.3;
    transform: translateY(8px); /* Start slightly lower */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-page-fade {
  animation: pageFadeInAnimation 0.4s ease-out;
}
